/* Import theme base:  participa-theme */
@import url(../participa-theme/style.css);

/* Header Effect */
.header-content {
    height: 5px;
    transition-duration: 0.6s;
    overflow: hidden;
}
.header-content:hover,
.header-content *:focus + .header-content,
.header-content *:focus > .header-content {
    height: 173px;
}

/* Search Header */

#search-header {
    position: relative;
    width: 960px;
    top: -50px;
    margin: auto;
}
#search-header .search-field {
    width: 200px;
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 5;
}
#search-header .search-field span.formfield {
    float: left;
    width: auto;
    margin: 0px;
}
#search-header .search-field div {
    display: none;
}
#search-header input.button.with-text {
    position: absolute;
    width: 25px;
    margin-left: -35px;
    text-indent: -1000px;
    float: right;
    height: 30px;
    max-height: 30px;
    border: 0px;
    background-image: url('./images/search-button.gif');
    background-color: transparent;
    outline: none;
}
#search-header #q {
    width: 170px;
    padding-right: -30px;
    height: 25px;
    border-radius: 5px;
}

/* Social Buttons */
#profile-header {
    position: relative;
    max-height: 190px;
    min-height: 80px;
}

#social-buttons {
    position: absolute;
    text-align: right;
    width: 200px;
    height: 30px;
    right: 40px;
    top: 80px;
}

#social-buttons a {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 3px;
}

#social-buttons a:hover {
    opacity: 0.6;
}

#social-buttons #sb_face {
background-image: url(images-theme/facebook.png);
background: none,url(images-theme/facebook.svg);
background-size: 100% 100%;
}

#social-buttons #sb_tweet {
background-image: url(images-theme/twitter.png);
background: none,url(images-theme/twitter.svg);
background-size: 100% 100%;
}

#social-buttons #sb_feed {
background-image: url(images-theme/rss.png);
background: none,url(images-theme/rss.svg);
background-size: 100% 100%;
}

#social-buttons span { display: none; }

/* Title Header */

#content .main-block h1,
#content .main-block h2,
#content .main-block h3,
#content .main-block h4 {
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
}

#content .main-block h1,
#not-found h1,
#access-denied h1 {
    color: #2C67CD;
    font-size: 1.7em;
    padding: 7px 0;
    margin-left: 0 !important;
    padding-left: 0.3em;
    border-bottom: 1px solid #CCCCCC;
    border-top: 2px solid #172838;
}

#content .title {
    font-weight: normal;
    padding-right: 70px;
}

#content .main-block h1 {
    font-size: 2.3em;
    font-weight: bold;
}

#content .main-block h2 {
    font-size: 1.8em;
    min-height: 48px;
}

#content .main-block h3 {
    font-size: 1.5em;
    min-height: 48px;
}

#content .main-block h4 {
    font-size: 1.3em;
    min-height: 38px;
}

div#article-parent {
    position: absolute;
    right: 0px;
    top: -30px;
}

/* Custom colors theme */

#content .box-1 .article-block {
    background: none;
}

#content .box-1 .recent-content-block h3 {
    background: #DFDFDF;
    text-decoration: none;
    border-top: 5px solid #545454;
}

#content .box-1 .recent-content-block .block-footer-content a {
    background-color: #DFDFDF;
}

#content .box-1 .recent-content-block ul {
    background: #FFF;
    border: none;
    background-image: none;
}

#content .main-block h1 {
    border-bottom: 0px;
}

#content #article-header h1 {
    color: #2C67CD;
}

.blog-post {
    background: none !important;
}

#content .blog-post .read-more a {
    border: 1px solid #DFDFDF;
    background: #F5FAF5;
}

#content .blog-post .read-more a:hover {
    border: 1px solid #000;
    background: #FFF;
}

/* Tags Article */
#article-tags {
    cursor: pointer;
    margin-right: 30px;
    position: absolute;
    right: 0px;
    top: 10px;
    color: #000;
    overflow: hidden;
    width: 49px;
    height: 15px;
    font-size: 13px;
}

#article-tags:hover {
    font-size: 10px;
    width: 156px;
    background: #FFF;
    padding: 5px;
    height: auto;
    line-height: 16px;
}

/* Block My Network style */

#content .my-network-block {
    background: #eeefff;
}

#content .my-network-block .block-title {
    background: #757575;
    color: #FFF;
}

/* Hidden Actions MyNetwork */

#content .box-2 .my-network-block .my-network-actions a.report-abuse-action,
#content .box-2 .my-network-block .my-network-actions a.icon-menu-mail {
    display: none;
}

.box-1 .common-profile-list-block .vcard {
    border-radius: 0px;
    -moz-border-radius: 0px;
}

#content .box-3 .block-title {
    border-top: none;
    background: #FFF;
    border-bottom: none;
    color: #757575;
    text-transform: uppercase;
}

#content .box-3 .link-list-block li a.link-this-page {
    background-color: #eeefff;
    border-radius: 0px;
}

#content .box-3 .link-list-block li a {
    color: #545454;
    background-color: #FFF;
    border-radius: none;
}

#content .box-3 .link-list-block li a:hover {
    background-color: #FFF;
    color: #436976;
}

#content .box-3 .link-list-block li {
  border-bottom: none;
  border-top: none;
}

/* Agenda Style */

#events-of-the-day h2 {
  text-align: center;
  color: #757575;
  text-transform: uppercase;
  background: #eeefff;
  border-top: 4px solid #757575;
}

#agenda-items td {
  border-top: 1px solid #bbb;
  transition: 0.3s;
}

#agenda-items a {
  color: #545454;
}
#agenda-items a:visited {
  color: #555;
  font-weight: normal;
}
#agenda-items a:hover {
  color: #000;
  text-decoration: underline;
}

#agenda .event-date {
  background: #bbb;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

#agenda .event-place {
  text-overflow: ellipsis;
  color: #444;
}

#agenda .agenda-calendar .calendar-day a {
  background: #eeefff;
  border-radius: 25px;
}

#agenda .agenda-calendar .selected a {
  background: none;
}

#agenda .loading {
  background-position: center 100px;
}

#agenda .loading #agenda-items {
  display: none !important;
  transition: 0.3s;
}

#agenda .agenda-calendar caption a.icon-next {
  background-position: right;
}

#box-organizer .block-target { clear: both; }

/* Custom Icons - SECOM theme */
/*
 * .box-2 .link-list-block ul li .icon-ok,
 * .box-2 .link-list-block ul li .icon-eyes,
 * .box-2 .link-list-block ul li .icon-edit,
 * .box-2 .link-list-block ul li .icon-photos {
 *     background-image: url('images-theme/media-icons.png');
 *     background-position: 0px -325px !important;
 *     height: 27px;
 *     padding: 13px 0px 0px 45px !important;
 *     margin-top: 5px;
 *     margin-bottom: 5px;
 * }
 * 
 * .box-2 .link-list-block ul li .icon-ok {
 *     background-position: 0px -165px !important;
 * }
 * .box-2 .link-list-block ul li .icon-eyes {
 *     background-position: 0px -125px !important;
 * }
 * .box-2 .link-list-block ul li .icon-edit {
 *     background-position: 0px -245px !important;
 * }
*/
/* Form syles */

.formfield input, .formfield textarea {
  border: 1px solid #DFDFDF !important;
  background-image: none  !important;
  background-color: #fff !important;
  color: #333 !important;
  font-size: 13px !important;
  outline: none !important;
}

.formfield input:focus, .formfield textarea:focus {
  border: 1px solid #AAA !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .1) !important;
}
#article_name{
  font-size: 18px !important;
  color: #333 !important;
}

.controller-cms div.with_media_panel {
  width: 580px !important;
}
.text-editor-sidebar {
  width: 300px !important;
}

.text-editor-sidebar-box  {
  background: #f5f5f5 !important;
  border: 1px solid #DFDFDF !important;
}
.text-editor-sidebar-box .header {
  background-color: #F9F9F9 !important;
}

.header{
  background-image: linear-gradient(to top,#ECECEC,#F9F9F9);
}

/* Form style end */

/* List links on content .box-1 */
#content .box-1 .container-block-plugin_container-block .link-list-block {
  min-height: 300px;
  text-align: center;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li {
  display: block;
  clear: both;
  border: 0px;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li a {
  display: block;
  padding: 15px;
  font-size: 15px;
  width: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  border: none;
  color: #FFF;
  background: #AAA;
  font-weight: bold;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li a:hover {
  outline: 3px solid #000;
  background: #DDD;
  color: #000;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li:nth-child(1) a {
  background: #edd400;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li:nth-child(2) a {
  background: #4e9a06;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li:nth-child(3) a {
  background: #555753;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li:nth-child(4) a {
  background: #204a87;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li:nth-child(5) a {
  background: #ce5c00;
}
/* Colors Community OSC by icons */
#content .box-1 .container-block-plugin_container-block .link-list-block li a.icon-up-red {
 background: #008ED4;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li a.icon-search {
 background: #CC0000;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li a.icon-ok {
 background: #ffc909;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li a.icon-login {
 background: #017848;
}
#content .box-1 .container-block-plugin_container-block .link-list-block li a.icon-help {
 background: #31114F;
}

/* Others FIX */

#site-title { width: 50px; }

.article-types li { height: auto; }

.author { display: none; }

.action-home-index #content .track-card-list-block{
    background: url("images-theme/bg-pessoas.jpg") no-repeat center top transparent;
	 padding: 2em 0 0;
}

.action-home-index .track-card-list-block .block-footer-content {
    margin-bottom: 15px;
    margin-top: -5px;
}

#box-organizer .block {
outline: 1px dotted #DFDFDF;
}

#profile-wall #leave_scrap textarea { width: 99%; }

#cat_menu {
  overflow: hidden;
  padding-right: 170px;
}

/* Adjust blocks style menu items */
.related-organizations-block ul { width: auto; }
#content .profile-info-options a.button.with-text { border-bottom: 1px solid #CCC !important; }
#content .link-list-block li a { border-bottom: 0px !important; padding: 5px 5px 5px 30px; }
#content .link-list-block li a.icon-no-icon { border-bottom: 0px !important; padding: 5px; }
#content .recent-documents-block .block-title { border-bottom: 0px !important; }

#content .common-profile-list-block li { min-height: 99px; }

#content #article .pagination .next_page,
#content #article .pagination .prev_page {
    font-size: 13px;
}

.box-1 .related-organizations-list-block .common-profile-list-block .vcard {
    width: 150px;
    height: 150px;
}

/* Add button */

.community-track-plugin_track-card-list-block .block-footer-content .more a,
.recent-documents-block .block-footer-content a,
.related-organizations-block .block-footer-content a {
    background: url("/designs/themes/participa-theme/images/bg-btn-ver-mais-1px.png") repeat-x scroll 0 0 #EEE;
    border: 1px solid #CCC;
    border-radius: 5px 5px 5px 5px;
    display: inline;
    margin: 14px 0 14px 14px;
    padding: 5px 15px;
    position: relative;
    top: 5px;
}